// Mixins
// ------------------------------------------------------

// Create the grid for a given size
// This will loop over the number of columns and create a css class
// for each. If it's the last gride size, then let's not add a float
=grid-core($size)
  @for $i from 1 through $grid-columns
    .col-#{$size}-#{$i}
      @include span-columns($i)

    
    // If it's not the screen-xs, then let's add push and pull helper classes
    @if $size != "xs"
      .col-#{$size}-push-#{$i}
        left: flex-grid($i, $grid-columns) + flex-gutter($grid-columns)
      .col-#{$size}-pull-#{$i}
        right: flex-grid($i, $grid-columns) + flex-gutter($grid-columns)


    // Create the collapse classes, i.e., .col-lg-collapse-2
    .col-#{$size}-collapse-#{$i}
      // @include span-columns($i, gutterless)
      @include span-columns-gutterless($i)


    // Offsetting, i.e., .col-sm-offset-2
    .col-#{$size}-offset-#{$i}
      @include shift($i)

  // Create columns centering for the given size
  .col-#{$size}-centered
    margin-left: auto !important
    margin-right: auto !important
    float: none !important


// Omega Core builder
=omega-core($size)
  @for $i from 1 through $grid-columns
    .omega-#{$size}-#{$i}
      > [class^="col-"],
      > [class*=" col-"]
        @include omega("#{$i}n")


// Thoughtbot doesn't want to add a gutterless display type for 
// span columns so we'll use this mixin for now. This will create
// equal column widths without any margin/gutters
=span-columns-gutterless($span: $columns of $container-columns) 
  $columns: nth($span, 1)
  $container-columns: container-span($span)

  $direction: get-direction($layout-direction, $default-layout-direction)
  $opposite-direction: get-opposite-direction($direction)

  display: block
  float: #{$opposite-direction}
  
  width: percentage($columns / $container-columns)
     
  &:last-child
    width: percentage($columns / $container-columns)


// Responsive mixins
=media-xs
  @media screen and (max-width: $screen-sm - 1)
    @content

=media-sm
  @media screen and (min-width: $screen-sm)
    @content

=media-xs-sm
  +media(max-width $screen-md - 1)
    @content

=media-sm-only
  +media(min-width $screen-sm max-width $screen-md - 1)
    @content

=media-sm-md-only
  +media(min-width $screen-sm max-width $screen-lg - 1)
    @content

=media-md
  @media screen and (min-width: $screen-md)
    @content

=media-lg
  @media screen and (min-width: $screen-lg)
    @content
